
@charset "UTF-8";
/* CSS Document */

body {
  vertical-align: baseline;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  text-align: center;
}

#border {
  cursor: pointer;
  position: absolute;
  opacity: 1;
  border: 1px solid #000000;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 600;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  background-color: #0076e5;
}

.fsize{
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  background-size: 300px 250px;
}

#img1 {
  background-image: url("img1.png");
}

#bg2 {
  background-color: #0076e5;
}

#bg3 {
  background-color: #0076e5;
}

.hide{
  opacity: 0;
}

#cta1 {
  background-image: url("cta1.png");
}

#cta1_hover {
  background-image: url("cta1_hover.png");
  display: none;
}

#cta2 {
  background-image: url("cta2.png");
}

#cta2_hover {
  background-image: url("cta2_hover.png");
  display: none;
}


/*#logo1 {
  background-image: url("logo1.png");
/*  left:1px;*/
}
/*#logo2 {
  background-image: url("logo2.png");
/*  left:1px;*/
}

.logo1{

}

#logo3 {
  background-image: url("logo3.png");
}

#logo4 {
  background-image: url("logo4.png");
}

#logo_mask {
    background-color: #0076e5;
    position: absolute;
    top: 0px;
    left: -90px;
    width: 100px;
    height: 50px;
}

#guide {
  position: absolute;
/*  background-image: url(guide2.png);*/
  width: 300px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
  z-index: 100;
}

#c1_01 {
  background-image: url("c1_01.png");
}

#c1_02 {
  background-image: url("c1_02.png");
}

#c1_03 {
  background-image: url("c1_03.png");
}




#c2_01 {
  background-image: url("c2_01.png");
}

#c2_02 {
  background-image: url("c2_02.png");
}

#c2_03 {
  background-image: url("c2_03.png");
}

#c2_04 {
  background-image: url("c2_04.png");
}

#c2_05 {
  background-image: url("c2_05.png");
}

#c2_06 {
  background-image: url("c2_06.png");
}

#c2_07 {
  background-image: url("c2_07.png");
}

#c2_08 {
  background-image: url("c2_08.png");
}


#tac {
  background-image: url("tac.png");
}
#tac {
  background-image: url("tac.png");
}

#lottie-container {
position: absolute;
    top: 26px;
    left: 74px;
    width: 154px !important;
    height: 100% !important;
    opacity: 0;
    transform: translate(-50%, -50%);
}

#lottie-container-2 {
    position: absolute;
    /*top: 125px;*/
    /*left: 150px;*/
    top: 352px;
    left: 278px;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 340% !important;   /* 170% × 2 */
    height: 362% !important;  /* 181% × 2 */
}